<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rocket Editor</title>
    
    <!-- CSS -->
	<link rel="stylesheet" href="../builds/development/css/main.css">
	<link rel="stylesheet" href="../node_modules/jquery-ui/themes/base/jquery-ui.css">
	
	<!-- JavaScript -->
	<script src="../builds/development/js/main.js"></script>
    
    <!-- Typekit Fonts -->
    <script type="text/javascript" src="//use.typekit.net/pte5noj.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
</head>
<body>

	<h1 hidden>Rocket</h1>
	
	<header>
		
		<section id="user">
			<h1>User</h1>
			<h1>Project <%= code %></h1>
		</section>
		
		<section id="pages">
			<h2 hidden>Pages</h2>
			<ul>
			<% pages.forEach(function(page) { %>
				<li><a href=""><%= page.name %></a></li>
			<% }); %>
			</ul>
		</section>
		
		<section id="config">
			<h2>Configuration</h2>
		</section>
		
	</header>
	
	<main>
		<section id="inspector">
			<nav>
				<a href="#"><h3>Style</h3></a>
				<a href="#"><h3>Element</h3></a>
				<a href="#"><h3>Group</h3></a>
			</nav>
			
			<div>
				Icon
			</div>
			
			<form action="" method="post">
				<label for="page">Add Page</label>
				<input type="text" name="page">
				<input type="submit" value="Verzenden">
			</form>

			<h2>Groups for <%= name %></h2>
			<ul>
			<% groups.forEach(function(el) { %>
				<li><%= el.name %></li>
			<% }); %>
			</ul>

			<h2>Elements for <%= name %></h2>
			<ul>
			<% elements.forEach(function(el) { %>
				<li><%= el.name %></li>
			<% }); %>
			</ul>
			
		</section>

		
		
		<section id="livepreview">
			Live Preview
		</section>
		
		<section id="mockup">
			Mockup preview
		</section>
		
		<section id="library">
			<h2>Library</h2>
		</section>
	</main>
	
</body>
</html>